/*-------------------------------------------------------------------------banner*/
#banner {
  height: 350px;
  overflow: hidden;
  margin-top: 26px;
  position: relative;
  z-index: 100; }
  #banner div {
    position: absolute;
    top: 00px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: list-item;
    background-image: url(../img/131564_1920_350_002-web.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat; }

/*-------------------------------------------------------------------------content*/
#content {
  width: 100%;
  margin-top: 26px; }
  #content #contentkuang {
    width: 1090px;
    margin: 0 auto; }
    #content #contentkuang .div1 {
      width: 1114px; }
      #content #contentkuang .div1 a {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 535px;
        height: 212px; }
        #content #contentkuang .div1 a img {
          width: 535px;
          height: 212px;
          vertical-align: bottom; }
    #content #contentkuang .div2 {
      width: 1114px; }
      #content #contentkuang .div2 a {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 535px;
        height: 212px; }
        #content #contentkuang .div2 a img {
          width: 535px;
          height: 212px;
          vertical-align: bottom; }

#content #contentkuang .div1 a:hover img {
  opacity: .7; }

#content #contentkuang .div2 a:hover img {
  opacity: .7; }

/*-------------------------------------------------------------------------content*/
#writesss1 {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 26px;
  display: inline-block;
  zoom: 1; }
  #writesss1 .d1 {
    width: 1110px;
    margin: 0 auto; }
    #writesss1 .d1 ul {
      height: 100%;
      display: inline-block;
      width: 1110px; }
      #writesss1 .d1 ul li {
        width: 263px;
        height: 92px;
        padding-left: 4px; }
      #writesss1 .d1 ul .li1 {
        margin-right: 11px;
        float: left; }
        #writesss1 .d1 ul .li1 a {
          background-position: 0 0;
          background-image: url(../img/top_link.jpg);
          width: 263px;
          height: 92px;
          text-decoration: none;
          display: inline-block; }
      #writesss1 .d1 ul .li2 {
        margin-right: 11px;
        float: left; }
        #writesss1 .d1 ul .li2 a {
          background-position: -276px 0;
          background-image: url(../img/top_link.jpg);
          width: 263px;
          height: 92px;
          text-decoration: none;
          display: inline-block; }
      #writesss1 .d1 ul .li3 {
        margin-right: 11px;
        float: left; }
        #writesss1 .d1 ul .li3 a {
          background-position: -552px 0;
          background-image: url(../img/top_link.jpg);
          width: 263px;
          height: 92px;
          text-decoration: none;
          display: inline-block; }
      #writesss1 .d1 ul .li4 {
        float: left; }
        #writesss1 .d1 ul .li4 a {
          background-position: -825px 0;
          background-image: url(../img/top_link.jpg);
          width: 263px;
          height: 92px;
          text-decoration: none;
          display: inline-block; }

#writesss1 .d1 ul .li1:hover a {
  background: url(../img/top_link.jpg) 0px -100px; }

#writesss1 .d1 ul .li2:hover a {
  background: url(../img/top_link.jpg) -276px -100px; }

#writesss1 .d1 ul .li3:hover a {
  background: url(../img/top_link.jpg) -552px -100px; }

#writesss1 .d1 ul .li4:hover a {
  background: url(../img/top_link.jpg) -825px -100px; }

#writesss2 {
  height: 80px;
  width: 100%;
  background: #f7f7f7 url(../img/old_top_tit.jpg) no-repeat top center; }

#datamainkaung {
  width: 1090px;
  margin: 0 auto; }
  #datamainkaung .datamain1 a {
    color: #666; }
  #datamainkaung .datamain1 dl {
    position: relative; }
    #datamainkaung .datamain1 dl dt {
      height: 350px;
      width: 100%;
      margin-bottom: 10px;
      position: relative; }
      #datamainkaung .datamain1 dl dt .dtaaa1 {
        display: block;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative; }
        #datamainkaung .datamain1 dl dt .dtaaa1 img {
          position: relative;
          margin-left: -185px;
          width: 1275px;
          height: 340px; }
        #datamainkaung .datamain1 dl dt .dtaaa1 span {
          display: block;
          top: 55px;
          left: 55px;
          position: absolute;
          width: 120px;
          height: 62px;
          background: url(../img/top.png) no-repeat; }
      #datamainkaung .datamain1 dl dt .dtdiv1 {
        position: absolute;
        top: 0px;
        left: 0; }
      #datamainkaung .datamain1 dl dt .dtul1 {
        position: absolute;
        bottom: 18px;
        left: 10px;
        display: none; }
        #datamainkaung .datamain1 dl dt .dtul1 li {
          float: left;
          background: #FFFFFF;
          padding: 6px 8px;
          border: 1px solid #fff;
          color: #666;
          margin-right: 8px;
          display: inline-block;
          height: 16px;
          line-height: 16px;
          opacity: .7; }
    #datamainkaung .datamain1 dl dd {
      position: absolute;
      height: 332px;
      width: 382px;
      padding: 0 40px;
      background: #fff;
      top: 18px;
      right: 18px;
      box-shadow: 0 1px 4px #c5c5c5;
      zoom: 1;
      line-height: 1; }
      #datamainkaung .datamain1 dl dd .datatime1 {
        color: #fff;
        font-weight: 400;
        text-indent: 0;
        font-size: 14px;
        margin-top: -1px;
        text-align: center; }
        #datamainkaung .datamain1 dl dd .datatime1 .datatimea {
          background: #333;
          height: 26px;
          line-height: 26px;
          padding: 0 10px;
          display: inline-block; }
          #datamainkaung .datamain1 dl dd .datatime1 .datatimea .datatimeaa {
            margin-right: 3px; }
          #datamainkaung .datamain1 dl dd .datatime1 .datatimea #datatimeab {
            background: #333;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            display: inline-block;
            color: #fff; }
      #datamainkaung .datamain1 dl dd .datatime2 .datatime2a1 {
        color: #767676;
        line-height: 24px;
        height: 142px;
        display: block;
        font-size: 16px;
        margin-top: 36px;
        overflow: hidden; }
      #datamainkaung .datamain1 dl dd .datatime3 {
        width: 100%;
        margin-top: 15px;
        font-family: arial;
        height: 45px;
        position: relative; }
        #datamainkaung .datamain1 dl dd .datatime3 .spa1 {
          float: left;
          font-size: 34px;
          color: #000; }
        #datamainkaung .datamain1 dl dd .datatime3 .div1 {
          float: right;
          display: inline-block;
          height: 36px;
          width: 106px;
          line-height: 37px;
          color: #fff;
          background: #e81a62;
          text-align: center;
          font-size: 14px; }
          #datamainkaung .datamain1 dl dd .datatime3 .div1 a {
            height: 36px;
            font-size: 16px;
            float: right;
            width: 106px;
            color: #FFFFFF; }
      #datamainkaung .datamain1 dl dd .datatime4 .div2 {
        float: left; }
      #datamainkaung .datamain1 dl dd .datatime4 .spa2 {
        float: right;
        padding-top: 10px;
        font-size: 11px; }
        #datamainkaung .datamain1 dl dd .datatime4 .spa2 em {
          font-size: 21px;
          color: #b9966a; }
  #datamainkaung .datamain2 a {
    color: #666; }
  #datamainkaung .datamain2 dl {
    position: relative; }
    #datamainkaung .datamain2 dl dt {
      height: 350px;
      width: 100%;
      margin-bottom: 10px;
      position: relative; }
      #datamainkaung .datamain2 dl dt .dtaaa1 {
        display: block;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative; }
        #datamainkaung .datamain2 dl dt .dtaaa1 img {
          position: relative;
          margin-left: -185px;
          width: 1275px;
          height: 340px; }
        #datamainkaung .datamain2 dl dt .dtaaa1 span {
          display: block;
          top: 55px;
          left: 55px;
          position: absolute;
          width: 120px;
          height: 62px;
          background: url(../img/top.png) no-repeat 0px -140px; }
      #datamainkaung .datamain2 dl dt .dtdiv1 {
        position: absolute;
        top: 0px;
        left: 0; }
      #datamainkaung .datamain2 dl dt .dtul2 {
        position: absolute;
        bottom: 18px;
        left: 10px;
        display: none; }
        #datamainkaung .datamain2 dl dt .dtul2 li {
          float: left;
          background: #FFFFFF;
          padding: 6px 8px;
          border: 1px solid #fff;
          color: #666;
          margin-right: 8px;
          display: inline-block;
          height: 16px;
          line-height: 16px;
          opacity: .7; }
    #datamainkaung .datamain2 dl dd {
      position: absolute;
      height: 332px;
      width: 382px;
      padding: 0 40px;
      background: #fff;
      top: 18px;
      right: 18px;
      box-shadow: 0 1px 4px #c5c5c5;
      zoom: 1;
      line-height: 1; }
      #datamainkaung .datamain2 dl dd .datatime1 {
        color: #fff;
        font-weight: 400;
        text-indent: 0;
        font-size: 14px;
        margin-top: -1px;
        text-align: center; }
        #datamainkaung .datamain2 dl dd .datatime1 .datatimea {
          background: #333;
          height: 26px;
          line-height: 26px;
          padding: 0 10px;
          display: inline-block; }
          #datamainkaung .datamain2 dl dd .datatime1 .datatimea .datatimeaa {
            margin-right: 3px; }
          #datamainkaung .datamain2 dl dd .datatime1 .datatimea #datatimeab {
            background: #333;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            display: inline-block;
            color: #fff; }
      #datamainkaung .datamain2 dl dd .datatime2 .datatime2a1 {
        color: #767676;
        line-height: 24px;
        height: 142px;
        display: block;
        font-size: 16px;
        margin-top: 36px;
        overflow: hidden; }
      #datamainkaung .datamain2 dl dd .datatime3 {
        width: 100%;
        margin-top: 15px;
        font-family: arial;
        height: 45px;
        position: relative; }
        #datamainkaung .datamain2 dl dd .datatime3 .spa1 {
          float: left;
          font-size: 34px;
          color: #000; }
        #datamainkaung .datamain2 dl dd .datatime3 .div1 {
          float: right;
          display: inline-block;
          height: 36px;
          width: 106px;
          line-height: 37px;
          color: #fff;
          background: #e81a62;
          text-align: center;
          font-size: 14px; }
          #datamainkaung .datamain2 dl dd .datatime3 .div1 a {
            height: 36px;
            font-size: 16px;
            float: right;
            width: 106px;
            color: #FFFFFF; }
      #datamainkaung .datamain2 dl dd .datatime4 .div2 {
        float: left; }
      #datamainkaung .datamain2 dl dd .datatime4 .spa2 {
        float: right;
        padding-top: 10px;
        font-size: 11px; }
        #datamainkaung .datamain2 dl dd .datatime4 .spa2 em {
          font-size: 21px;
          color: #b9966a; }
  #datamainkaung .datamain3 a {
    color: #666; }
  #datamainkaung .datamain3 dl {
    position: relative; }
    #datamainkaung .datamain3 dl dt {
      height: 350px;
      width: 100%;
      margin-bottom: 10px;
      position: relative; }
      #datamainkaung .datamain3 dl dt .dtaaa1 {
        display: block;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative; }
        #datamainkaung .datamain3 dl dt .dtaaa1 img {
          position: relative;
          margin-left: -185px;
          width: 1275px;
          height: 340px; }
        #datamainkaung .datamain3 dl dt .dtaaa1 span {
          display: block;
          top: 55px;
          left: 55px;
          position: absolute;
          width: 120px;
          height: 62px;
          background: url(../img/top.png) no-repeat 0px -70px; }
      #datamainkaung .datamain3 dl dt .dtdiv1 {
        position: absolute;
        top: 0px;
        left: 0; }
      #datamainkaung .datamain3 dl dt .dtul3 {
        position: absolute;
        bottom: 18px;
        left: 10px;
        display: none; }
        #datamainkaung .datamain3 dl dt .dtul3 li {
          float: left;
          background: #FFFFFF;
          padding: 6px 8px;
          border: 1px solid #fff;
          color: #666;
          margin-right: 8px;
          display: inline-block;
          height: 16px;
          line-height: 16px;
          opacity: .7; }
    #datamainkaung .datamain3 dl dd {
      position: absolute;
      height: 332px;
      width: 382px;
      padding: 0 40px;
      background: #fff;
      top: 18px;
      right: 18px;
      box-shadow: 0 1px 4px #c5c5c5;
      zoom: 1;
      line-height: 1; }
      #datamainkaung .datamain3 dl dd .datatime1 {
        color: #fff;
        font-weight: 400;
        text-indent: 0;
        font-size: 14px;
        margin-top: -1px;
        text-align: center; }
        #datamainkaung .datamain3 dl dd .datatime1 .datatimea {
          background: #333;
          height: 26px;
          line-height: 26px;
          padding: 0 10px;
          display: inline-block; }
          #datamainkaung .datamain3 dl dd .datatime1 .datatimea .datatimeaa {
            margin-right: 3px; }
          #datamainkaung .datamain3 dl dd .datatime1 .datatimea #datatimeab {
            background: #333;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            display: inline-block;
            color: #fff; }
      #datamainkaung .datamain3 dl dd .datatime2 .datatime2a1 {
        color: #767676;
        line-height: 24px;
        height: 142px;
        display: block;
        font-size: 16px;
        margin-top: 36px;
        overflow: hidden; }
      #datamainkaung .datamain3 dl dd .datatime3 {
        width: 100%;
        margin-top: 15px;
        font-family: arial;
        height: 45px;
        position: relative; }
        #datamainkaung .datamain3 dl dd .datatime3 .spa1 {
          float: left;
          font-size: 34px;
          color: #000; }
        #datamainkaung .datamain3 dl dd .datatime3 .div1 {
          float: right;
          display: inline-block;
          height: 36px;
          width: 106px;
          line-height: 37px;
          color: #fff;
          background: #e81a62;
          text-align: center;
          font-size: 14px; }
          #datamainkaung .datamain3 dl dd .datatime3 .div1 a {
            height: 36px;
            font-size: 16px;
            float: right;
            width: 106px;
            color: #FFFFFF; }
      #datamainkaung .datamain3 dl dd .datatime4 .div2 {
        float: left; }
      #datamainkaung .datamain3 dl dd .datatime4 .spa2 {
        float: right;
        padding-top: 10px;
        font-size: 11px; }
        #datamainkaung .datamain3 dl dd .datatime4 .spa2 em {
          font-size: 21px;
          color: #b9966a; }
  #datamainkaung .datamain4 a {
    color: #666; }
  #datamainkaung .datamain4 dl {
    position: relative; }
    #datamainkaung .datamain4 dl dt {
      height: 350px;
      width: 100%;
      margin-bottom: 10px;
      position: relative; }
      #datamainkaung .datamain4 dl dt .dtaaa1 {
        display: block;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative; }
        #datamainkaung .datamain4 dl dt .dtaaa1 img {
          position: relative;
          margin-left: -185px;
          width: 1275px;
          height: 340px; }
      #datamainkaung .datamain4 dl dt .dtdiv1 {
        position: absolute;
        top: 0px;
        left: 0; }
      #datamainkaung .datamain4 dl dt .dtul4 {
        position: absolute;
        bottom: 18px;
        left: 10px;
        display: none; }
        #datamainkaung .datamain4 dl dt .dtul4 li {
          float: left;
          background: #FFFFFF;
          padding: 6px 8px;
          border: 1px solid #fff;
          color: #666;
          margin-right: 8px;
          display: inline-block;
          height: 16px;
          line-height: 16px;
          opacity: .7; }
    #datamainkaung .datamain4 dl dd {
      position: absolute;
      height: 332px;
      width: 382px;
      padding: 0 40px;
      background: #fff;
      top: 18px;
      right: 18px;
      box-shadow: 0 1px 4px #c5c5c5;
      zoom: 1;
      line-height: 1; }
      #datamainkaung .datamain4 dl dd .datatime1 {
        color: #fff;
        font-weight: 400;
        text-indent: 0;
        font-size: 14px;
        margin-top: -1px;
        text-align: center; }
        #datamainkaung .datamain4 dl dd .datatime1 .datatimea {
          background: #333;
          height: 26px;
          line-height: 26px;
          padding: 0 10px;
          display: inline-block; }
          #datamainkaung .datamain4 dl dd .datatime1 .datatimea .datatimeaa {
            margin-right: 3px; }
          #datamainkaung .datamain4 dl dd .datatime1 .datatimea #datatimeab {
            background: #333;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            display: inline-block;
            color: #fff; }
      #datamainkaung .datamain4 dl dd .datatime2 .datatime2a1 {
        color: #767676;
        line-height: 24px;
        height: 142px;
        display: block;
        font-size: 16px;
        margin-top: 36px;
        overflow: hidden; }
      #datamainkaung .datamain4 dl dd .datatime3 {
        width: 100%;
        margin-top: 15px;
        font-family: arial;
        height: 45px;
        position: relative; }
        #datamainkaung .datamain4 dl dd .datatime3 .spa1 {
          float: left;
          font-size: 34px;
          color: #000; }
        #datamainkaung .datamain4 dl dd .datatime3 .div1 {
          float: right;
          display: inline-block;
          height: 36px;
          width: 106px;
          line-height: 37px;
          color: #fff;
          background: #e81a62;
          text-align: center;
          font-size: 14px; }
          #datamainkaung .datamain4 dl dd .datatime3 .div1 a {
            height: 36px;
            font-size: 16px;
            float: right;
            width: 106px;
            color: #FFFFFF; }
      #datamainkaung .datamain4 dl dd .datatime4 .div2 {
        float: left; }
      #datamainkaung .datamain4 dl dd .datatime4 .spa2 {
        float: right;
        padding-top: 10px;
        font-size: 11px; }
        #datamainkaung .datamain4 dl dd .datatime4 .spa2 em {
          font-size: 21px;
          color: #b9966a; }
  #datamainkaung .datamain5 a {
    color: #666; }
  #datamainkaung .datamain5 dl {
    position: relative; }
    #datamainkaung .datamain5 dl dt {
      height: 350px;
      width: 100%;
      margin-bottom: 10px;
      position: relative; }
      #datamainkaung .datamain5 dl dt .dtaaa1 {
        display: block;
        width: 100%;
        height: 340px;
        overflow: hidden;
        position: relative; }
        #datamainkaung .datamain5 dl dt .dtaaa1 img {
          position: relative;
          margin-left: -185px;
          width: 1275px;
          height: 340px; }
      #datamainkaung .datamain5 dl dt .dtdiv1 {
        position: absolute;
        top: 0px;
        left: 0; }
      #datamainkaung .datamain5 dl dt .dtul5 {
        position: absolute;
        bottom: 18px;
        left: 10px;
        display: none; }
        #datamainkaung .datamain5 dl dt .dtul5 li {
          float: left;
          background: #FFFFFF;
          padding: 6px 8px;
          border: 1px solid #fff;
          color: #666;
          margin-right: 8px;
          display: inline-block;
          height: 16px;
          line-height: 16px;
          opacity: .7; }
    #datamainkaung .datamain5 dl dd {
      position: absolute;
      height: 332px;
      width: 382px;
      padding: 0 40px;
      background: #fff;
      top: 18px;
      right: 18px;
      box-shadow: 0 1px 4px #c5c5c5;
      zoom: 1;
      line-height: 1; }
      #datamainkaung .datamain5 dl dd .datatime1 {
        color: #fff;
        font-weight: 400;
        text-indent: 0;
        font-size: 14px;
        margin-top: -1px;
        text-align: center; }
        #datamainkaung .datamain5 dl dd .datatime1 .datatimea {
          background: #333;
          height: 26px;
          line-height: 26px;
          padding: 0 10px;
          display: inline-block; }
          #datamainkaung .datamain5 dl dd .datatime1 .datatimea .datatimeaa {
            margin-right: 3px; }
          #datamainkaung .datamain5 dl dd .datatime1 .datatimea #datatimeab {
            background: #333;
            height: 26px;
            line-height: 26px;
            padding: 0 10px;
            display: inline-block;
            color: #fff; }
      #datamainkaung .datamain5 dl dd .datatime2 .datatime2a1 {
        color: #767676;
        line-height: 24px;
        height: 142px;
        display: block;
        font-size: 16px;
        margin-top: 36px;
        overflow: hidden; }
      #datamainkaung .datamain5 dl dd .datatime3 {
        width: 100%;
        margin-top: 15px;
        font-family: arial;
        height: 45px;
        position: relative; }
        #datamainkaung .datamain5 dl dd .datatime3 .spa1 {
          float: left;
          font-size: 34px;
          color: #000; }
        #datamainkaung .datamain5 dl dd .datatime3 .div1 {
          float: right;
          display: inline-block;
          height: 36px;
          width: 106px;
          line-height: 37px;
          color: #fff;
          background: #e81a62;
          text-align: center;
          font-size: 14px; }
          #datamainkaung .datamain5 dl dd .datatime3 .div1 a {
            height: 36px;
            font-size: 16px;
            float: right;
            width: 106px;
            color: #FFFFFF; }
      #datamainkaung .datamain5 dl dd .datatime4 .div2 {
        float: left; }
      #datamainkaung .datamain5 dl dd .datatime4 .spa2 {
        float: right;
        padding-top: 10px;
        font-size: 11px; }
        #datamainkaung .datamain5 dl dd .datatime4 .spa2 em {
          font-size: 21px;
          color: #b9966a; }

#datamainkaung .datamain1:hover .dtul1 {
  display: block; }

#datamainkaung .datamain2:hover .dtul2 {
  display: block; }

#datamainkaung .datamain3:hover .dtul3 {
  display: block; }

#datamainkaung .datamain4:hover .dtul4 {
  display: block; }

#datamainkaung .datamain5:hover .dtul5 {
  display: block; }

#datamainkaung .datamain1:hover img {
  opacity: .7; }

#datamainkaung .datamain2:hover img {
  opacity: .7; }

#datamainkaung .datamain3:hover img {
  opacity: .7; }

#datamainkaung .datamain4:hover img {
  opacity: .7; }

#datamainkaung .datamain5:hover img {
  opacity: .7; }

/*-------------------------------------------------------------------------newdanpin*/
#newdanpin {
  position: relative;
  width: 1090px;
  margin: 0 auto;
  background: #F7F7F7; }
  #newdanpin .newdiv1 {
    background-position: 0 -203px;
    border-bottom: 2px solid #000;
    text-indent: -9999px;
    height: 25px;
    background: url(../img/main_tit02_02.png) #f7f7f7 no-repeat 0px -203px;
    width: 1090px;
    position: relative;
    margin-top: 20px; }
  #newdanpin .newp1 {
    position: absolute;
    top: 6px;
    right: 10px;
    padding-left: 20px;
    color: #ed135d;
    background: url(../img/clock.jpg) left 4px no-repeat; }
  #newdanpin .newdiv2 .newdiv2ul1 {
    width: 1110px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -20px; }
    #newdanpin .newdiv2 .newdiv2ul1 li {
      float: left;
      display: inline;
      background: #fff;
      margin-right: 20px;
      width: 330px;
      box-shadow: 2px 2px 4px #e3e3e3;
      padding: 10px;
      margin-bottom: 20px;
      height: 450px;
      position: relative; }
      #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1div1 {
        position: relative; }
        #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1div1 a {
          display: block;
          overflow: hidden;
          position: relative; }
          #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1div1 a img {
            display: block;
            margin-left: -238px;
            width: 862px;
            height: 345px; }
        #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1div1 .newdiv2ul1div1div1 {
          position: absolute;
          top: 5px;
          left: 5px;
          background: url(../img/new_haitao_icon.jpg) no-repeat 0px 0px;
          width: 40px;
          height: 40px; }
      #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 {
        margin-top: 10px; }
        #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1p {
          font-size: 14px;
          line-height: 24px;
          color: #333;
          height: 48px;
          font-weight: 400;
          overflow: hidden; }
          #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1p span {
            color: #ed145b;
            font-weight: 700; }
        #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1div {
          margin-top: 8px;
          height: 48px; }
          #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1div .newdiv2ul1a2div1divdiv1 {
            float: left;
            height: 45px;
            line-height: 45px; }
            #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1div .newdiv2ul1a2div1divdiv1 em {
              font-size: 18px;
              color: #ed145b;
              font-family: Arial,Helvetica,sans-serif;
              float: left;
              display: inline; }
            #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1div .newdiv2ul1a2div1divdiv1 .span1 {
              font-size: 22px;
              color: #ed145b;
              font-family: Arial,Helvetica,sans-serif;
              float: left;
              display: inline; }
            #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1div .newdiv2ul1a2div1divdiv1 .span2 {
              text-decoration: line-through;
              color: #929292;
              padding-left: 5px;
              float: left;
              font-family: Arial;
              margin-top: 3px;
              display: inline;
              font-size: 12px; }
          #newdanpin .newdiv2 .newdiv2ul1 li .newdiv2ul1a2 .newdiv2ul1a2div1 .newdiv2ul1a2div1div .newdiv2ul1a2div1divdiv2 .time {
            float: right;
            margin-right: 4px;
            font-family: arial;
            font-size: 14px;
            font-weight: 400;
            color: #939292; }

#newdanpin .newdiv2 .newdiv2ul1 .li1 .newdiv2ul1div1 a:hover {
  opacity: .7; }

/*# sourceMappingURL=erjiyemianindex.css.map */
