/*-------------------------------------------------------------------------header top*/
#headertop {
  height: 32px;
  width: 100%;
  background: #f2f2f2; }
  #headertop li {
    float: left; }
  #headertop .left {
    margin-left: 87px;
    height: 100%; }
    #headertop .left #headertopleft {
      height: 100%;
      color: #6c6c6c; }
      #headertop .left #headertopleft li {
        padding-right: 18px;
        line-height: 32px; }
      #headertop .left #headertopleft .li1 {
        margin-left: 10px;
        position: relative; }
        #headertop .left #headertopleft .li1 p {
          width: 82px;
          position: relative;
          text-align: center;
          z-index: 10;
          height: 100%; }
        #headertop .left #headertopleft .li1 div {
          background: url(../img/header_newicon1.png);
          width: 6px;
          height: 3px;
          position: absolute;
          top: 16px;
          right: 25px;
          transition: all .5s linear;
          z-index: 103; }
        #headertop .left #headertopleft .li1 ul {
          width: 82px;
          height: 165px;
          position: absolute;
          top: 27px;
          left: -1px;
          background-color: #FFFFFF;
          z-index: 9;
          border: 1px solid #DDDDDD;
          display: none; }
          #headertop .left #headertopleft .li1 ul li {
            width: 100%;
            margin-left: 16px; }
  #headertop #headertopright {
    line-height: 28px;
    color: #999999; }
    #headertop #headertopright .li1 {
      margin-right: 14px; }

#headertop #headertopleft .li1:hover div {
  transform: rotate(-180deg); }

#headertop #headertopleft .li1:hover ul {
  display: block; }

#headertop #headertopleft .li1:hover p {
  background: #FFFFFF; }

#headertop #headertopright .li2 {
  margin-right: 14px;
  position: relative; }

#headertop #headertopright .li2 p {
  width: 80px;
  position: relative;
  text-align: center;
  z-index: 102; }

#headertop #headertopright .li2 div {
  background: url(../img/header_newicon1.png);
  width: 6px;
  height: 3px;
  position: absolute;
  top: 13px;
  right: 3px;
  transition: all .5s linear;
  z-index: 103; }

#headertop #headertopright .li2 ul {
  width: 110px;
  height: 0px;
  position: absolute;
  top: 27px;
  left: -31px;
  background-color: #FFFFFF;
  z-index: 101;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  transition: all .3s linear; }

#headertop #headertopright .li2 ul li {
  width: 100%;
  margin-left: 16px;
  position: relative; }

#headertop #headertopright .li2:hover p {
  background: #FFFFFF; }

#headertop #headertopright .li2:hover ul {
  height: 262px; }

#headertop #headertopright .li3 {
  margin-left: 12px;
  margin-right: 14px;
  color: #ed145b; }

#headertop #headertopright .li4 {
  margin-left: 10px;
  margin-right: 92px;
  position: relative; }

#headertop #headertopright .li4 p {
  width: 60px;
  position: relative;
  text-align: center;
  z-index: 102; }

#headertop #headertopright .li4 div {
  background: url(../img/header_newicon1.png);
  width: 6px;
  height: 3px;
  position: absolute;
  top: 13px;
  right: 6px;
  transition: all .5s linear;
  z-index: 103; }

#headertop #headertopright .li4 ul {
  width: 110px;
  height: 210px;
  position: absolute;
  top: 27px;
  left: -50px;
  background-color: #FFFFFF;
  z-index: 101;
  border: 1px solid #DDDDDD;
  display: none; }

#headertop #headertopright .li4 ul li {
  width: 100%;
  margin-left: 16px;
  position: relative; }

#headertop #headertopright .li4 ul li img {
  display: block;
  position: absolute;
  width: 112px;
  height: 112px;
  top: -78px;
  left: -128px;
  display: none; }

#headertop #headertopright .li4 ul li:hover img {
  display: block; }

#headertop #headertopright .li4:hover p {
  background: #FFFFFF; }

#headertop #headertopright .li4:hover ul {
  display: block; }

#headertop #headertopright .lil {
  color: #dddddd; }

#headertop #headertopright .li2:hover div {
  transform: rotate(-180deg); }

#headertop #headertopright .li4:hover div {
  transform: rotate(-180deg); }

#headertop a {
  color: #6c6c6c; }

#headertop a:hover {
  color: #ed145b;
  text-decoration: none; }

/*-------------------------------------------------------------------------header logo*/
#headerlogo {
  height: 78px;
  width: 1140px;
  margin: 0 auto; }

#headerlogo .logokaung ul .li1 {
  width: 232px;
  height: 78px;
  float: left; }

#headerlogo .logokaung ul .li1 {
  display: block;
  position: relative; }

#headerlogo .logokaung ul > .li1 > .a1 {
  display: block;
  width: 232px;
  height: 78px;
  background: url(../img/logo.jpg) no-repeat left -1px;
  position: absolute;
  top: 6px;
  bottom: 6px;
  text-indent: -100%;
  overflow: hidden; }

#headerlogo .logokaung ul .li2 {
  width: 536px;
  height: 76px;
  vertical-align: middle;
  line-height: 31px;
  float: left;
  margin-left: 50px;
  margin-right: 150px; }

#headerlogo .logokaung ul .li2 .li2-text {
  padding-top: 15px; }

#headerlogo .logokaung ul .li2 .li2-text input {
  width: 430px;
  height: 26px;
  border: 3px solid #ed145b;
  border-right: none;
  float: left;
  margin-top: 13px; }

#headerlogo .logokaung ul .li2 .li2-submit input {
  height: 32px;
  width: 90px;
  float: left;
  margin-top: 13px;
  background: #ed145b;
  border: 0px; }

#headerlogo .logokaung ul .li2 .li2-wenzi {
  font-size: 12px;
  color: #cccccc; }

#headerlogo .logokaung ul .li2 .li2-wenzi li {
  float: left;
  width: 50px;
  height: 18px;
  margin-top: 9px;
  line-height: 18px;
  text-align: center;
  border-right: 1px solid #CCCCCC; }

#headerlogo .logokaung ul .li2 .li2-wenzi .li1 {
  border: 0px; }

#headerlogo .logokaung ul .li3 {
  float: right;
  width: 124px;
  height: 32px;
  position: relative;
  margin-top: 29px;
  margin-right: 30px; }

#headerlogo .logokaung ul .li3 input {
  width: 124px;
  height: 32px;
  border-color: #d7d7d7;
  float: right;
  background: #f8f8f8;
  text-align: right;
  z-index: 1;
  position: absolute; }

#headerlogo .logokaung ul .li3 a {
  display: block;
  height: 28px;
  width: 110px;
  text-align: right;
  position: absolute;
  z-index: 2;
  font-size: 12px;
  line-height: 32px;
  color: #666666; }

#headerlogo .logokaung ul .li3 a div {
  background: url(../img/header_newicon1.png);
  width: 6px;
  height: 3px;
  position: absolute;
  top: 15px;
  right: -8px;
  transition: all .5s linear; }

#headerlogo .logokaung ul .li3:hover a div {
  transform: rotate(-180deg); }

#headerlogo .logokaung ul .li3 em {
  display: block;
  width: 124px;
  height: 30px;
  background: url(../img/cart.gif) no-repeat 3px 4px;
  position: absolute;
  z-index: 100; }

#headerlogo .logokaung ul .li3 .div1 {
  position: absolute;
  border: 2px solid #d7d7d7;
  top: 32px;
  left: -179px;
  width: 300px;
  height: 82px;
  z-index: 101;
  display: none;
  background-color: #FFFDEF; }

#headerlogo .logokaung ul .li3 .div1 p {
  text-align: center;
  font-size: 12px;
  color: #9a9a9a; }

#headerlogo .logokaung ul .li3 .div1 .p1 {
  margin-top: 22px; }

#headerlogo .logokaung ul .li3:hover .btn1 {
  height: 34px;
  border-bottom: 0px;
  z-index: 2; }

#headerlogo .logokaung ul .li3:hover .div1 {
  display: block; }

#headerlogo a {
  color: #6c6c6c; }

#headerlogo a:hover {
  color: #ed145b;
  text-decoration: none; }

/*# sourceMappingURL=erjiyemianheader.css.map */
