/*-------------------------------------------------------------------------cebianlan*/
#cebianlan {
  position: fixed;
  width: 40px;
  height: 100%;
  background-color: #444851;
  top: 0px;
  right: 0px;
  z-index: 9990; }

/*-------------------------------------------------------------------------navgat*/
#navgat {
  margin-top: 30px;
  width: 100%;
  height: 38px;
  background-color: #1f1f1f; }

#navgat #navLeft .ul1 {
  float: left; }

#navgat #navLeft .ul1 li {
  float: left;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  width: 108px;
  color: #FFFFFF; }

#navgat #navLeft .ul1 .li1 {
  margin-left: 80px;
  background-color: #ed145b; }

#navgat #navLeft .ul1 .li2 {
  position: relative; }

#navgat #navLeft .ul1 .li2 .sanjiao {
  transition: all .5s linear;
  background: url(../img/header_newicon1.png);
  width: 6px;
  height: 3px;
  position: absolute;
  top: 18px;
  right: 11px; }

#navgat #navLeft .ul1 .li2:hover .sanjiao {
  transform: rotate(-180deg); }

#navgat #navLeft .ul1 .li2 .div1 {
  position: absolute;
  top: 38px;
  left: -324px;
  width: 1143px;
  height: 0px;
  background: #FFFFFF;
  z-index: 2;
  overflow: hidden;
  transition: all .3s linear; }

#navgat #navLeft .ul1 .li2 .div1 table td {
  width: 254px;
  text-align: left; }

#navgat #navLeft .ul1 .li2 .div1 table .td1 {
  width: 254px; }

#navgat #navLeft .ul1 .li2 .div1 table .td1 img {
  margin-left: 10px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 {
  position: relative; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 div {
  margin-left: 16px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 h5 {
  padding-left: 30px;
  font-size: 15px;
  padding-top: 5px;
  color: #333333; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 .div1 {
  background: url(../img/zuanshi.jpg) no-repeat 0px 0px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 0px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 .div2 {
  background: url(../img/header_sprites1.png) no-repeat 0px -220px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 0px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 .div3 {
  background: url(../img/header_sprites1.png) no-repeat 0px -258px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 0px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 .div4 {
  background: url(../img/header_sprites1.png) no-repeat 0px -332px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 0px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 .div5 {
  background: url(../img/header_sprites1.png) no-repeat 0px -405px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 0px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 .div6 {
  background: url(../img/wq20170427001-3.jpg) no-repeat 0px 0px;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 17px;
  left: 0px; }

#navgat #navLeft .ul1 .li2 .div1 table .td2 span {
  color: #666666; }

#navgat #navLeft .ul1 .li2:hover .div1 {
  height: 308px; }

#navgat #navLeft .ul1 li:hover {
  color: #CCCCCC; }

#navgat #navLeft .ul2 {
  margin-right: 110px;
  float: right; }

#navgat #navLeft .ul2 li {
  float: right;
  padding-top: 7px;
  padding-left: 15px; }

/*-------------------------------------------------------------------------main*/
#mainTop {
  width: 464px;
  height: 44px;
  border: 1px solid #666666;
  background: #666666;
  margin: 20px auto; }

#mainTop p {
  width: 232px;
  float: left;
  text-align: center;
  font-size: 21px;
  line-height: 44px;
  position: relative; }

#mainTop p span {
  position: absolute;
  top: 44px;
  left: 103px;
  border: 10px solid transparent;
  border-top: 10px solid #666666;
  border-bottom: 0px; }

/*-------------------------------------------------------------------------content*/
#content {
  width: 100%; }
  #content #contentkuang {
    width: 1090px;
    margin: 0 auto; }
    #content #contentkuang .div1 {
      width: 1114px;
      display: block; }
      #content #contentkuang .div1 a {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 535px;
        height: 212px; }
        #content #contentkuang .div1 a img {
          width: 535px;
          height: 212px;
          vertical-align: bottom; }
    #content #contentkuang .div2 {
      display: none;
      width: 1114px; }
      #content #contentkuang .div2 a {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 535px;
        height: 212px; }
        #content #contentkuang .div2 a img {
          width: 535px;
          height: 212px;
          vertical-align: bottom; }

/*-------------------------------------------------------------------------content*/
#writesss {
  height: 80px;
  width: 100%;
  background: #FFFFFF url(../img/54101_1920_80_001-web.jpg-1456752238.jpg) no-repeat top center; }

/*# sourceMappingURL=index.css.map */
