@charset"utf-8";

/*-------------------------------------------------------------------------banner*/
#banner{
        height: 350px;
        overflow: hidden;
        margin-top:26px ;
        position: relative;
        z-index: 100;
        div{
            position: absolute;
            top: 00px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: list-item;
            background-image: url(../img/131564_1920_350_002-web.jpg);
            text-align: center;
            background-position: center;
            background-repeat: no-repeat;
        }
}

/*-------------------------------------------------------------------------content*/
#content{
    width: 100%;
    margin-top:26px ;
    #contentkuang{
        width: 1090px;
         margin: 0 auto;
         .div1{
             width: 1114px;
              
               
                 a{
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    width: 535px;
                    height: 212px;
                    img{
                         width: 535px;
                         height: 212px;
                         vertical-align: bottom;
                    }
                 }
         }
         .div2{
               
               width: 1114px;
                 a{
                    display: inline-block;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    width: 535px;
                    height: 212px;
                    img{
                         width: 535px;
                         height: 212px;
                         vertical-align: bottom;
                    }
                 }
         }
    }
}
#content #contentkuang .div1 a:hover img{opacity: .7;}
#content #contentkuang .div2 a:hover img{opacity: .7;}
/*-------------------------------------------------------------------------content*/
#writesss1{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 26px;
    display: inline-block;
    zoom: 1;
    .d1{
        width: 1110px;
        margin: 0 auto;
        ul{
            height: 100%;
            display: inline-block;
            width: 1110px;
            li{
                width: 263px;
                height: 92px;
                padding-left: 4px;
            }
            .li1{
                margin-right: 11px;
                float: left;
                a{
                    background-position: 0 0;
                    background-image: url(../img/top_link.jpg);
                    width: 263px;
                    height: 92px;
                    text-decoration: none;
                    display: inline-block;
                }
            }
            .li2{
                margin-right: 11px;
                float: left;
                a{
                    background-position: -276px 0;
                    background-image: url(../img/top_link.jpg);
                    width: 263px;
                    height: 92px;
                    text-decoration: none;
                    display: inline-block;
                }
            }
            .li3{
                margin-right: 11px;
                float: left;
                a{
                    background-position: -552px 0;
                    background-image: url(../img/top_link.jpg);
                    width: 263px;
                    height: 92px;
                    text-decoration: none;
                    display: inline-block;
                }
            }
            .li4{
                float: left;
                a{
                    background-position: -825px 0;
                    background-image: url(../img/top_link.jpg);
                    width: 263px;
                    height: 92px;
                    text-decoration: none;
                    display: inline-block;
                    
                }
            }
            
        }
    }
}
#writesss1 .d1 ul .li1:hover a{background: url(../img/top_link.jpg) 0px -100px;}
#writesss1 .d1 ul .li2:hover a{background: url(../img/top_link.jpg) -276px -100px;}
#writesss1 .d1 ul .li3:hover a{background: url(../img/top_link.jpg) -552px -100px;}
#writesss1 .d1 ul .li4:hover a{background: url(../img/top_link.jpg) -825px -100px;}
                             

#writesss2{
    height: 80px;
    width: 100%;
    background:#f7f7f7 url(../img/old_top_tit.jpg) no-repeat top center;
    
    }

#datamainkaung{
                width: 1090px;
                margin: 0 auto;
                .datamain1{
                    a{
                        color: #666;
                    }
                    dl{
                        position: relative;
                        dt{
                            height: 350px;
                            width: 100%;
                            margin-bottom: 10px;
                            position: relative;
                            .dtaaa1{
                                display: block;
                                width: 100%;
                                height: 340px;
                                overflow: hidden;
                                position: relative;
                               img{
                                position: relative;
                                margin-left: -185px;
                                width: 1275px;
                                height: 340px;
                              } 
                              span{
                                    display: block;
                                    top: 55px;
                                    left: 55px;
                                    position: absolute;
                                    width: 120px;
                                    height: 62px;
                                    background: url(../img/top.png) no-repeat;
                              }
                            }
                            .dtdiv1{
                                position: absolute;top: 0px;left: 0;
                            }
                            .dtul1{
                               position: absolute;bottom: 18px;left: 10px;display: none;
                               
                               li{
                                   float: left;
                                   background: #FFFFFF;
                                    padding: 6px 8px;
                                    border: 1px solid #fff;
                                    color: #666;
                                    margin-right: 8px;
                                    display: inline-block;
                                    height: 16px;
                                    line-height: 16px;
                                    opacity: .7;
                               }
                            
                            }
                            
                            
                        }
                        
                        dd{
                            position: absolute;
                            height: 332px;
                            width: 382px;
                            padding: 0 40px;
                            background: #fff;
                            top: 18px;
                            right: 18px;
                            box-shadow: 0 1px 4px #c5c5c5;
                            zoom: 1;
                            line-height: 1;
                             .datatime1{      
                                color: #fff;
                                font-weight: 400;
                                text-indent: 0;
                                font-size: 14px;
                                margin-top: -1px;
                                text-align: center;
                                .datatimea{
                                    background: #333;
                                    height: 26px;
                                    line-height: 26px;
                                    padding: 0 10px;
                                    display: inline-block; 
                                    .datatimeaa{
                                            margin-right: 3px;
                                    }
                                    #datatimeab{
                                            background: #333;
                                            height: 26px;
                                            line-height: 26px;
                                            padding: 0 10px;
                                            display: inline-block;
                                            color: #fff;
                                            }
                                }
                              } 
                              .datatime2{
                                 .datatime2a1{
                                        color: #767676;
                                        line-height: 24px;
                                        height: 142px;
                                        display: block;
                                        font-size: 16px;
                                        margin-top: 36px;
                                        overflow: hidden;
                                 }
                               }   
                              .datatime3{
                                    width: 100%;
                                    margin-top: 15px;
                                    font-family: arial;
                                    height: 45px;
                                    position: relative;
                                    .spa1{
                                        float: left;
                                        font-size: 34px;
                                        color: #000;
                                    }
                                    .div1{
                                        float: right;
                                        display: inline-block;
                                        height: 36px;
                                        width: 106px;
                                        line-height: 37px;
                                        color: #fff;
                                        background: #e81a62;
                                        text-align: center;
                                        font-size: 14px;
                                        a{
                                            height: 36px;
                                            font-size: 16px;
                                            float: right;
                                            width: 106px;
                                            color: #FFFFFF;
                                        }
                                }
                                  
                              }
                              
                              .datatime4{
                                  
                                  .div2{
                                      float: left;
                                  }
                                  .spa2{
                                      float: right;
                                      padding-top:10px ;
                                      font-size: 11px;
                                      em{
                                          font-size: 21px;
                                          color: #b9966a;
                                      }
                                  }
                              }  
                        }
                    }
                }
                .datamain2{
                    a{
                        color: #666;
                    }
                    dl{
                        position: relative;
                        dt{
                            height: 350px;
                            width: 100%;
                            margin-bottom: 10px;
                            position: relative;
                            .dtaaa1{
                                display: block;
                                width: 100%;
                                height: 340px;
                                overflow: hidden;
                                position: relative;
                               img{
                                position: relative;
                                margin-left: -185px;
                                width: 1275px;
                                height: 340px;
                              }
                              span{
                                    display: block;
                                    top: 55px;
                                    left: 55px;
                                    position: absolute;
                                    width: 120px;
                                    height: 62px;
                                    background:url(../img/top.png) no-repeat 0px -140px;
                              } 
                            }
                            .dtdiv1{
                                position: absolute;top: 0px;left: 0;
                            }
                            .dtul2{
                               position: absolute;bottom: 18px;left: 10px;display: none;
                               
                               li{
                                   float: left;
                                   background: #FFFFFF;
                                    padding: 6px 8px;
                                    border: 1px solid #fff;
                                    color: #666;
                                    margin-right: 8px;
                                    display: inline-block;
                                    height: 16px;
                                    line-height: 16px;
                                    opacity: .7;
                               }
                            
                            }
                            
                            
                        }
                        
                        dd{
                            position: absolute;
                            height: 332px;
                            width: 382px;
                            padding: 0 40px;
                            background: #fff;
                            top: 18px;
                            right: 18px;
                            box-shadow: 0 1px 4px #c5c5c5;
                            zoom: 1;
                            line-height: 1;
                             .datatime1{      
                                color: #fff;
                                font-weight: 400;
                                text-indent: 0;
                                font-size: 14px;
                                margin-top: -1px;
                                text-align: center;
                                .datatimea{
                                    background: #333;
                                    height: 26px;
                                    line-height: 26px;
                                    padding: 0 10px;
                                    display: inline-block; 
                                    .datatimeaa{
                                            margin-right: 3px;
                                    }
                                    #datatimeab{
                                            background: #333;
                                            height: 26px;
                                            line-height: 26px;
                                            padding: 0 10px;
                                            display: inline-block;
                                            color: #fff;
                                            }
                                }
                              } 
                              .datatime2{
                                 .datatime2a1{
                                        color: #767676;
                                        line-height: 24px;
                                        height: 142px;
                                        display: block;
                                        font-size: 16px;
                                        margin-top: 36px;
                                        overflow: hidden;
                                 }
                               }   
                              .datatime3{
                                    width: 100%;
                                    margin-top: 15px;
                                    font-family: arial;
                                    height: 45px;
                                    position: relative;
                                    .spa1{
                                        float: left;
                                        font-size: 34px;
                                        color: #000;
                                    }
                                    .div1{
                                        float: right;
                                        display: inline-block;
                                        height: 36px;
                                        width: 106px;
                                        line-height: 37px;
                                        color: #fff;
                                        background: #e81a62;
                                        text-align: center;
                                        font-size: 14px;
                                        a{
                                            height: 36px;
                                            font-size: 16px;
                                            float: right;
                                            width: 106px;
                                            color: #FFFFFF;
                                        }
                                        
                                }
                                  
                              }
                              
                              .datatime4{
                                  
                                  .div2{
                                      float: left;
                                  }
                                  .spa2{
                                      float: right;
                                      padding-top:10px ;
                                      font-size: 11px;
                                      em{
                                          font-size: 21px;
                                          color: #b9966a;
                                      }
                                  }
                              }  
                        }
                    }
                }
                .datamain3{
                    a{
                        color: #666;
                    }
                    dl{
                        position: relative;
                        dt{
                            height: 350px;
                            width: 100%;
                            margin-bottom: 10px;
                            position: relative;
                            .dtaaa1{
                                display: block;
                                width: 100%;
                                height: 340px;
                                overflow: hidden;
                                position: relative;
                               img{
                                position: relative;
                                margin-left: -185px;
                                width: 1275px;
                                height: 340px;
                              } 
                              span{
                                                display: block;
                                                top: 55px;
                                                left: 55px;
                                                position: absolute;
                                                width: 120px;
                                                height: 62px;
                                                background: url(../img/top.png) no-repeat 0px -70px;
                                        }
                            }
                            .dtdiv1{
                                position: absolute;top: 0px;left: 0;
                            }
                            .dtul3{
                               position: absolute;bottom: 18px;left: 10px;display: none;
                               
                               li{
                                   float: left;
                                   background: #FFFFFF;
                                    padding: 6px 8px;
                                    border: 1px solid #fff;
                                    color: #666;
                                    margin-right: 8px;
                                    display: inline-block;
                                    height: 16px;
                                    line-height: 16px;
                                    opacity: .7;
                               }
                            
                            }
                            
                            
                        }
                        
                        dd{
                            position: absolute;
                            height: 332px;
                            width: 382px;
                            padding: 0 40px;
                            background: #fff;
                            top: 18px;
                            right: 18px;
                            box-shadow: 0 1px 4px #c5c5c5;
                            zoom: 1;
                            line-height: 1;
                             .datatime1{      
                                color: #fff;
                                font-weight: 400;
                                text-indent: 0;
                                font-size: 14px;
                                margin-top: -1px;
                                text-align: center;
                                .datatimea{
                                    background: #333;
                                    height: 26px;
                                    line-height: 26px;
                                    padding: 0 10px;
                                    display: inline-block; 
                                    .datatimeaa{
                                            margin-right: 3px;
                                    }
                                    #datatimeab{
                                            background: #333;
                                            height: 26px;
                                            line-height: 26px;
                                            padding: 0 10px;
                                            display: inline-block;
                                            color: #fff;
                                            }
                                }
                              } 
                              .datatime2{
                                 .datatime2a1{
                                        color: #767676;
                                        line-height: 24px;
                                        height: 142px;
                                        display: block;
                                        font-size: 16px;
                                        margin-top: 36px;
                                        overflow: hidden;
                                 }
                               }   
                              .datatime3{
                                    width: 100%;
                                    margin-top: 15px;
                                    font-family: arial;
                                    height: 45px;
                                    position: relative;
                                    .spa1{
                                        float: left;
                                        font-size: 34px;
                                        color: #000;
                                    }
                                    .div1{
                                        float: right;
                                        display: inline-block;
                                        height: 36px;
                                        width: 106px;
                                        line-height: 37px;
                                        color: #fff;
                                        background: #e81a62;
                                        text-align: center;
                                        font-size: 14px;
                                        a{
                                            height: 36px;
                                            font-size: 16px;
                                            float: right;
                                            width: 106px;
                                            color: #FFFFFF;
                                        }
                                }
                                  
                              }
                              
                              .datatime4{
                                  
                                  .div2{
                                      float: left;
                                  }
                                  .spa2{
                                      float: right;
                                      padding-top:10px ;
                                      font-size: 11px;
                                      em{
                                          font-size: 21px;
                                          color: #b9966a;
                                      }
                                  }
                              }  
                        }
                    }
                }
                .datamain4{
                    a{
                        color: #666;
                    }
                    dl{
                        position: relative;
                        dt{
                            height: 350px;
                            width: 100%;
                            margin-bottom: 10px;
                            position: relative;
                            .dtaaa1{
                                display: block;
                                width: 100%;
                                height: 340px;
                                overflow: hidden;
                                position: relative;
                               img{
                                position: relative;
                                margin-left: -185px;
                                width: 1275px;
                                height: 340px;
                              } 
                            }
                            .dtdiv1{
                                position: absolute;top: 0px;left: 0;
                            }
                            .dtul4{
                               position: absolute;bottom: 18px;left: 10px;display: none;
                               
                               li{
                                   float: left;
                                   background: #FFFFFF;
                                    padding: 6px 8px;
                                    border: 1px solid #fff;
                                    color: #666;
                                    margin-right: 8px;
                                    display: inline-block;
                                    height: 16px;
                                    line-height: 16px;
                                    opacity: .7;
                               }
                            
                            }
                            
                            
                        }
                        
                        dd{
                            position: absolute;
                            height: 332px;
                            width: 382px;
                            padding: 0 40px;
                            background: #fff;
                            top: 18px;
                            right: 18px;
                            box-shadow: 0 1px 4px #c5c5c5;
                            zoom: 1;
                            line-height: 1;
                             .datatime1{      
                                color: #fff;
                                font-weight: 400;
                                text-indent: 0;
                                font-size: 14px;
                                margin-top: -1px;
                                text-align: center;
                                .datatimea{
                                    background: #333;
                                    height: 26px;
                                    line-height: 26px;
                                    padding: 0 10px;
                                    display: inline-block; 
                                    .datatimeaa{
                                            margin-right: 3px;
                                    }
                                    #datatimeab{
                                            background: #333;
                                            height: 26px;
                                            line-height: 26px;
                                            padding: 0 10px;
                                            display: inline-block;
                                            color: #fff;
                                            }
                                }
                              } 
                              .datatime2{
                                 .datatime2a1{
                                        color: #767676;
                                        line-height: 24px;
                                        height: 142px;
                                        display: block;
                                        font-size: 16px;
                                        margin-top: 36px;
                                        overflow: hidden;
                                 }
                               }   
                              .datatime3{
                                    width: 100%;
                                    margin-top: 15px;
                                    font-family: arial;
                                    height: 45px;
                                    position: relative;
                                    .spa1{
                                        float: left;
                                        font-size: 34px;
                                        color: #000;
                                    }
                                    .div1{
                                        float: right;
                                        display: inline-block;
                                        height: 36px;
                                        width: 106px;
                                        line-height: 37px;
                                        color: #fff;
                                        background: #e81a62;
                                        text-align: center;
                                        font-size: 14px;
                                        a{
                                            height: 36px;
                                            font-size: 16px;
                                            float: right;
                                            width: 106px;
                                            color: #FFFFFF;
                                        }
                                }
                                  
                              }
                              
                              .datatime4{
                                  
                                  .div2{
                                      float: left;
                                  }
                                  .spa2{
                                      float: right;
                                      padding-top:10px ;
                                      font-size: 11px;
                                      em{
                                          font-size: 21px;
                                          color: #b9966a;
                                      }
                                  }
                              }  
                        }
                    }
                }
                .datamain5{
                    a{
                        color: #666;
                    }
                    dl{
                        position: relative;
                        dt{
                            height: 350px;
                            width: 100%;
                            margin-bottom: 10px;
                            position: relative;
                            .dtaaa1{
                                display: block;
                                width: 100%;
                                height: 340px;
                                overflow: hidden;
                                position: relative;
                               img{
                                position: relative;
                                margin-left: -185px;
                                width: 1275px;
                                height: 340px;
                              } 
                            }
                            .dtdiv1{
                                position: absolute;top: 0px;left: 0;
                            }
                            .dtul5{
                               position: absolute;bottom: 18px;left: 10px;display: none;
                               
                               li{
                                   float: left;
                                   background: #FFFFFF;
                                    padding: 6px 8px;
                                    border: 1px solid #fff;
                                    color: #666;
                                    margin-right: 8px;
                                    display: inline-block;
                                    height: 16px;
                                    line-height: 16px;
                                    opacity: .7;
                               }
                            
                            }
                            
                            
                        }
                        
                        dd{
                            position: absolute;
                            height: 332px;
                            width: 382px;
                            padding: 0 40px;
                            background: #fff;
                            top: 18px;
                            right: 18px;
                            box-shadow: 0 1px 4px #c5c5c5;
                            zoom: 1;
                            line-height: 1;
                             .datatime1{      
                                color: #fff;
                                font-weight: 400;
                                text-indent: 0;
                                font-size: 14px;
                                margin-top: -1px;
                                text-align: center;
                                .datatimea{
                                    background: #333;
                                    height: 26px;
                                    line-height: 26px;
                                    padding: 0 10px;
                                    display: inline-block; 
                                    .datatimeaa{
                                            margin-right: 3px;
                                    }
                                    #datatimeab{
                                            background: #333;
                                            height: 26px;
                                            line-height: 26px;
                                            padding: 0 10px;
                                            display: inline-block;
                                            color: #fff;
                                            }
                                }
                              } 
                              .datatime2{
                                 .datatime2a1{
                                        color: #767676;
                                        line-height: 24px;
                                        height: 142px;
                                        display: block;
                                        font-size: 16px;
                                        margin-top: 36px;
                                        overflow: hidden;
                                 }
                               }   
                              .datatime3{
                                    width: 100%;
                                    margin-top: 15px;
                                    font-family: arial;
                                    height: 45px;
                                    position: relative;
                                    .spa1{
                                        float: left;
                                        font-size: 34px;
                                        color: #000;
                                    }
                                    .div1{
                                        float: right;
                                        display: inline-block;
                                        height: 36px;
                                        width: 106px;
                                        line-height: 37px;
                                        color: #fff;
                                        background: #e81a62;
                                        text-align: center;
                                        font-size: 14px;
                                        a{
                                            height: 36px;
                                            font-size: 16px;
                                            float: right;
                                            width: 106px;
                                            color: #FFFFFF;
                                        }
                                }
                                  
                              }
                              
                              .datatime4{
                                  
                                  .div2{
                                      float: left;
                                  }
                                  .spa2{
                                      float: right;
                                      padding-top:10px ;
                                      font-size: 11px;
                                      em{
                                          font-size: 21px;
                                          color: #b9966a;
                                      }
                                  }
                              }  
                        }
                    }
                }

}

#datamainkaung .datamain1:hover .dtul1{display: block;}
#datamainkaung .datamain2:hover .dtul2{display: block;}
#datamainkaung .datamain3:hover .dtul3{display: block;}
#datamainkaung .datamain4:hover .dtul4{display: block;}
#datamainkaung .datamain5:hover .dtul5{display: block;}
#datamainkaung .datamain1:hover img{opacity: .7;}
#datamainkaung .datamain2:hover img{opacity: .7;}
#datamainkaung .datamain3:hover img{opacity: .7;}
#datamainkaung .datamain4:hover img{opacity: .7;}
#datamainkaung .datamain5:hover img{opacity: .7;}

/*-------------------------------------------------------------------------newdanpin*/

#newdanpin {
    
    position: relative;
    width: 1090px;
    margin: 0 auto;
    background: #F7F7F7;
    .newdiv1{
        background-position: 0 -203px;
        border-bottom: 2px solid #000;
        text-indent: -9999px;
        height: 25px;
        background:url(../img/main_tit02_02.png)  #f7f7f7 no-repeat 0px -203px;
        width: 1090px;
        position: relative;
        margin-top: 20px;
    }
    .newp1{
        position: absolute;
        top: 6px;
        right: 10px;
        padding-left: 20px;
        color: #ed135d;
        background: url(../img/clock.jpg) left 4px no-repeat;
    }
    .newdiv2{
        .newdiv2ul1{
            width: 1110px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: -20px;
            li{
                float: left;
                display: inline;
                background: #fff;
                margin-right: 20px;
                width: 330px;
                box-shadow: 2px 2px 4px #e3e3e3;
                padding: 10px;
                margin-bottom: 20px;   
                height: 450px;
                position: relative;
                .newdiv2ul1div1{
                        position: relative;
                    a{
                        display: block;
                        overflow: hidden;
                        position: relative;
                        img{
                            display: block;
                            margin-left: -238px;
                            width: 862px;
                            height: 345px;
                        }
                    }
                   .newdiv2ul1div1div1{
                       position: absolute;top:5px;left:5px;
                       background: url(../img/new_haitao_icon.jpg) no-repeat 0px 0px;
                       width: 40px;height: 40px;
                   } 
                }
                .newdiv2ul1a2{
                    .newdiv2ul1a2div1{
                            margin-top: 10px;
                            .newdiv2ul1a2div1p{
                                font-size: 14px;
                                line-height: 24px;
                                color: #333;
                                height: 48px;
                                font-weight: 400;
                                overflow: hidden;
                                span{
                                    color: #ed145b;
                                    font-weight: 700;
                                }
                            }
                            .newdiv2ul1a2div1div{
                                    margin-top: 8px;
                                     height: 48px;
                                     .newdiv2ul1a2div1divdiv1{
                                        float: left;
                                        height: 45px;
                                        line-height: 45px;
                                        em{
                                            font-size: 18px;
                                            color: #ed145b;
                                            font-family: Arial,Helvetica,sans-serif;
                                            float: left;
                                            display: inline;
                                        }
                                        .span1{
                                                font-size: 22px;
                                                color: #ed145b;
                                                font-family: Arial,Helvetica,sans-serif;
                                                float: left;
                                                display: inline;
                                        }
                                        .span2{
                                                text-decoration: line-through;
                                                color: #929292;
                                                padding-left: 5px;
                                                float: left;
                                                font-family: Arial;
                                                margin-top: 3px;
                                                display: inline;
                                                font-size: 12px;
                                        }
                                     }
                                     .newdiv2ul1a2div1divdiv2{
                                         .time{
                                            float: right;
                                            margin-right: 4px;
                                            font-family: arial;
                                            font-size: 14px;
                                            font-weight: 400;
                                            color: #939292;
                                         }
                                     }
                            }
                    }
                }
             }
            
        }
    }
}
#newdanpin .newdiv2 .newdiv2ul1 .li1 .newdiv2ul1div1 a:hover{opacity: .7;}

